*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* GENERALS */

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}



.flex{
  justify-content: space-between;
  align-items: center;

}

a{
  color: white;
  text-decoration: none;
}

nav ul li a{
  font-size: 10px;
}




/* HEADER */
header{
  height: 40px;
  background-color: #fa6903;
}

.logo a img{
  width: 100px;
  
  
}
nav{
  display: flex;
}

nav ul li{
  display: inline-block;
}

.logo{
  
}

.icon{
  font-size: 10px;
}